<div id="flash" hx-swap-oob="true">
  <% if notice.present? %>
    <div class="absolute top-0 right-0 bg-green-50 text-green-500 px-3 py-2 font-medium rounded-lg">
      <%= notice %>
    </div>
  <% end %>
</div>
