<% content_for(:content) do %>
  <main id="main" class="container mx-auto mt-28 px-5 flex">
    <%= yield %>
  </main>

  <dialog
    id="modal"
    class="rounded-lg shadow-100vw bg-white p-5 w-1/2 [&[open]]:animate-fade-in [&[closing]&[open]]:animate-fade-out"
    x-data="modal"
    @modal-close="close"
    @htmx:after-request="closeIfSuccessful"
    @htmx:after-swap="show"
  >
  </dialog>
<% end %>

<%= render template: "layouts/htmx" %>
